@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Playfair Display", serif;
}

:root {
    --crl-fc456a: #fc456a;
    --clr-lighter_white: #ffffff99;
    --clr-white: #fff;
    --clr-4d4d4d: #4d4d4d;
    --clr-black: #000;
    --cle-fd7792: #fd7792;
    --clr-808080: #808080;
}

p,
a,
h2 {
    font-family: "Poppins", Arial, sans-serif;
}

/* utilities class */

.container {
    max-width: 1200px;
    width: calc(100% - 4rem);
    margin: 0 auto;
}

.btn-pink,
.btn-white {
    padding: 1.3rem 1.6rem;
    border-radius: 4px;
    cursor: pointer;
    color: var(--clr-white);
    background-color: var(--cle-fd7792);
    border: 1px solid var(--cle-fd7792);
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.btn-pink:hover {
    color: var(--cle-fd7792);
    background-color: transparent;
}

.btn-white {
    color: var(--clr-black);
    background-color: var(--clr-white);
    border: 1px solid var(--clr-white);
}

.btn-white:hover {
    color: var(--clr-white);
    background-color: transparent;
}

.page-title {
    font-size: 5.4rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 7.5rem;
}

/* utilities class end */

/* nav or header */

nav {
    background-color: var(--crl-fc456a);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
    align-items: center;
}

.left-nav {
    display: flex;
    column-gap: 0.5rem;
}

.left-nav p span {
    color: var(--clr-lighter_white);
    font-size: 1.2rem;
}

.left-nav p a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 1.2rem;
}

.right-nav ul {
    display: flex;
}

.right-nav ul li  {
    list-style: none;
    font-size: 1.2rem;
}

.right-nav ul li + li {
    padding-left: 2.5rem;
}

.right-nav ul li a {
    color: var(--clr-white);
}

header {
    background-color: var(--clr-white);
    box-shadow: 0 5px 20px -17px rgb(0 0 0 / 34%);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    align-items: center;
}

.hamburger-wrapper {
    padding: 1.5rem 1rem;
    display: none;
    z-index: 999999;
}

.hamburger,.hamburger::after,.hamburger::before {
    height: 2px;
    width: 3rem;
    background-color: #000;
    border-radius: 4px;
    transition: all 0.3s ease-in;
}

.hamburger::after,.hamburger::before {
    content: "";
    display: block;
}

.hamburger::after {
    transform: translateY(5px);
}

.hamburger::before {
    transform: translateY(-7px);
}

.logo a {
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 900;
    color: var(--clr-black);
}

.logo a span {
    color: var(--cle-fd7792);
}

.header-buttons ul {
    display: flex;
}

.header-buttons ul li {
    list-style: none;
}

.header-buttons ul li a {
    text-decoration: none;
    color: var(--clr-4d4d4d);
    font-size: 1.5rem;
    padding: 3.7rem 2rem;
    font-weight: 400;
    position: relative;
}

.header-buttons ul li a::after,
.header-buttons ul li .active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: var(--cle-fd7792);
    border-radius: 5rem;
    transform: scale(0);
    transform-origin: center;
    width: 100%;
    transition: all 0.5s ease;
}

.header-buttons ul li .active::after {
    transform: scale(1);
    width: 103%;
}

.header-buttons ul li a:hover::after {
    transform: scale(1);
}

/* nav or header end */

/* hero section */

.hero {
    height: 100vh;
    background: url(../images/hero-bg.webp) fixed no-repeat;
    background-size: cover;
    background-position: center 0%;
    position: relative;
}

.hero-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

.left-hero h2 {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--clr-white);
    margin-bottom: 0.5rem;
}

.left-hero h1 {
    font-size: 8rem;
    font-weight: 700;
    color: var(--clr-white);
    line-height: 1.3;
    margin-bottom: 3rem;
}

.left-hero-btn a {
    margin-right: 1rem;
}

.right-hero {
    background-color: var(--clr-white);
    padding: 3.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 15px 34px -29px rgb(0 0 0 / 54%);
    width: 100%;
    max-width: 30%;
}

.right-hero h3 {
    font-size: 2.8rem;
    color: var(--clr-black);
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.hero-form input, select {
    width: 100%;
    padding: 0.375rem 1.5rem;
    outline: none;
    height: 5rem;
    border: transparent;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
    border-radius: 4px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.check-in-out,
.number-time,
.form-member {
    display: flex;
    column-gap: 2rem;
}

.right-hero button.btn-pink {
    width: 100%;
    padding: 1.5rem 1.6rem;
}

/* hero section end */

/* about section */

.about {
    /* height: 50vh; */
    padding: 23rem 0;
    position: relative;
}

.about-wrapper {
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 0;
    left: 0;
    top: -25%;
}

.about-card {
    padding: 2rem;
    background-color: var(--clr-white);
    border-radius: 5px;
    box-shadow: 0px 10px 27px -9px rgb(0 0 0 / 11%);
    width: 31.5%;
}

.about-img, img {
    width: 100%;
}

.about-content {
    padding: 1.5rem 1rem;
}

.about-content h3 {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--clr-black);
    margin-bottom: 1.5rem;
}

.about-content p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--clr-808080);
    line-height: 1.8;
    text-align: center;
    margin-bottom: 1.5rem;
}

.about-content .about-btn {
     display: flex;
     align-items: center;
     justify-content: center;
}

/* about section end */

/* apartment section  */

.apartment {
    background-color: #f3f4f7;
    padding: 10rem 0;
}

.first-row {
    display: flex;
    flex-direction: row;
}

.room-card {
    --clr-1: var(--clr-white);
    --clr-2:var(--cle-fd7792);
    --clr-3: var(--clr-black);
    --clr-4:var(--clr-black);
    --clr-5:var(--clr-808080);

    display: flex;
    width: 50%;
    position: relative;
}

.room-card:hover  {
    --clr-1: var(--cle-fd7792);
    --clr-2:var(--clr-white);
    --clr-3: var(--clr-white);
    --clr-4: rgba(255, 255, 255, 0.6);
    --clr-5:var(--clr-white);
}


.room-card .room-img  {
    width: 50%;
    position: relative;
}

.room-card .room-img a {
    outline: none !important;
}

.room-card .room-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.room-content {
    padding: 6rem 3rem;
    width: 50%;
    background-color: var(--clr-1);
    position: relative;
    transition: all 0.5s ease;
}

.room-content  * {
    transition: all 0.5s ease;
}

.room-content::after {
    content: "\f0de";
    font-family: "Font Awesome 5 Free";
    font-size: 5rem;
    font-weight: 900;
    color: var(--clr-1);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-30%,-50%) rotate(-90deg);
    transition: all 0.5s ease;
}

.room-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.7rem;
    margin-bottom: 1rem;
}

.room-rating i {
    color: var(--clr-2);
    font-size: 1.2rem;
}

.room-content h3 {
    text-align: center;
}

.room-content h3 a {
    text-decoration: none;
    color: var(--clr-3);
    font-size: 3rem;
    text-transform: capitalize;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.room-content ul {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.room-content ul li {
    list-style: none;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: var(--clr-5);
    font-size: 1.4rem;
    text-align: center;
}

.room-content ul li span {
    color: var(--clr-4);
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-btn {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--clr-black);
    padding: 0.8rem 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: var(--clr-white);
    text-align: center;
}

.room-card:hover .room-btn{
    border: 2px solid transparent;
}

.second-row {
    display: flex;
}

.second-row .room-card {
    display: flex;
    flex-direction: row-reverse;
}

.second-row .room-content::after {
    top: 50%;
    left: auto;
    right: 0;
    transform: translate(30%,-50%) rotate(90deg);
}

/* apartment section end */

/* customer section start */

.customer {
    background-color: #f3f4f7;
    padding: 10rem 0;
}

.feedback-wrapper {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.feedback-card {
    width: 32%;
    display: flex;
    padding: 3rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 30px 33px -41px rgb(0 0 0 / 24%);
}

.client-img img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

.client-feedback {
    position: relative;
    padding-left: 2rem;
}

.feedback-abs {
    position: absolute;
    transform: translateY(-112%);
    color: var(--cle-fd7792);
    font-size: 4rem;
}

.feedback-para,
.feedback-last-span {
    color: var(--clr-808080);
    margin-bottom: 1rem;
    line-height: 1.8;
    font-size: 1.4rem;
    font-weight: 400;
}

.feedback-name {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--clr-black);
}

.feedback-last-span {
    margin-bottom: 0;
    font-family: "poppins", Arial, sans-serif;
}

/* customer section end */

/* offer section start */

.offer {
    background-color: #f3f4f7;
    padding: 10rem 0;
}

.offer-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-offer {
    width: 100%;
    height: 100%;
}

.offer-img{
    width: 100%;
    height: 75%;
    margin-bottom: 2rem;
}

.offer-img img {
    height: 100%;
    object-fit: cover;
}

.left-offer h2,
.right-offer h2 {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-family: "Playfair Display",serif;
    font-size: 3.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.left-offer p,
.right-p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #808080;
    font-weight: 400;
    margin-bottom: 1rem;
}

.right-offer {
    width: 100%;
    height: 100%;
}

.right-offer h2 {
    font-size: 5.4rem;
    padding-left: 3rem;
}

.right-p {
    padding-left: 3rem;
}

.offers-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5rem;
}

.offer-card {
    display: flex;
    padding-top: 2rem;
    padding-left: 1.5rem;
    width: 50%;
}

.offer-card .offer-card-img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: var(--cle-fd7792);
    box-shadow: 0 10px 30px -4px rgba(0,0,0,.15);
}

.offer-card .offer-card-img i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    font-size: 2.5rem;
    color: var(--clr-white);
}

.right-offer .offer-card-content {
    padding-left: 2rem;
}

.right-offer .offer-card-content h3 {
    font-family: "poppins", Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.right-offer .offer-card-content p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #808080;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* offer section end */

/* mid-section start */

.mid-sec {
    background: url(../images/mid-section.webp) fixed;
    background-position: 50% 0;
    padding: 6rem 0;
}

.mid-section-container h2 {
    color: var(--clr-white);
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    font-family: "playfair display", sans-serif;
    margin-bottom: 2rem;
}

.mid-section-container p {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    text-align: center;
}

.mid-sec-buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-sec-buttons a:nth-child(2) {
    margin-left: 0.5rem;
}

/* mid-section end */

/* blog section start */

.blog {
    background-color: #f3f4f7;
    padding: 15rem 0;
}

.blog-starting {
    padding-bottom: 7rem;
}

.blog .page-title {
    padding-bottom: 2rem;
}

.blog .page-title-blog {
    display: grid;
    place-items: center;
    font-family: "poppins", Arial, sans-serif;
    text-transform: uppercase;
    color: var(--cle-fd7792);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.blog-card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-card {
    width: 31.5%;
    background-color: var(--clr-white);
    border-radius: 4px;
    box-shadow: 0 10px 27px -9px rgb(0 0 0 / 11%);
}

.blog-card .blog-card-img a {
    outline: none !important;
}

.blog-card .blog-card-img img{
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

.blog-card .blog-card-content {
    padding: 2.4rem;
}

.blog-card .blog-card-content h3 {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.6rem;
}

.blog-card .blog-card-content h3 a {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: var(--clr-black);
    transition: all 0.3s ease;
}

.blog-card .blog-card-content h3 a:hover {
    color: var(--cle-fd7792);
}

.blog-card .blog-card-content .card-content-a {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.6rem;
}

.blog-card .blog-card-content .card-content-a a {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--cle-fd7792);
    transition: all 0.3s ease;
}

.blog-card .blog-card-content .card-content-a a:hover {
    color: var(--clr-black);
}

.blog-card .blog-card-content .blog-para {
    font-size: 1.4rem;
    color: var(--clr-808080);
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 1.6rem;
    text-align: center;
}

/* blog section end */

/* footer section start */

footer {
    background-color: #272727;
    padding: 10rem 0 5rem 0;
}

.footer-wrapper {
    display: flex;
}

.padding-footer {
    width: 25%;
    padding: 0 2rem 2rem 2rem;
}

.footer-head {
    color: var(--clr-white);
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 3rem;
}

.vacation-footer p {
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8;
}

.vacation-footer a {
    text-decoration: none;
    color: var(--cle-fd7792);
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 400;
}

.service-footer-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.service-footer-wrapper a {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
}

.tag-cloud-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.tag-cloud-wrapper a {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--clr-white);
    text-transform: uppercase;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    font-size: 1.1rem;
    transition: all 0.5s ease;
}

.tag-cloud-wrapper a:hover {
    border: 1px solid var(--clr-black);
}

.email-send {
    display: flex;
    width: 100%;
    padding-bottom: 3rem;
}

.email-send .footer-input {
    background-color: rgba(255, 255, 255, 0.05);
    outline: none;
    border: none;
    font-size: 1.6rem;
    height: 5.2rem;
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
}

.footer-input::placeholder {
    font-weight: 400;
    font-family: "poppins", arial, sans-serif;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.3);
}

.email-send button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--cle-fd7792);
    outline: none;
    border: none;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.email-send button i {
    padding: 1.5rem 1.6rem;
    color: var(--clr-white);
    font-size: 1.6rem;
}

.footer-icon-wrap {
    display: flex;
    column-gap: 1.5rem;
}

.footer-icon-wrap a {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.footer-icon-wrap a i {
    padding: 2rem;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--clr-white);
}

.copyright {
    background-color: #1a1a1a;
    padding: 5rem 0 4.8rem 0;
}

.copyright-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-para {
    color: rgba(255, 255, 255, 0.3);
    font-family: "poppims", Arial, sans-serif;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-family: 400;
    width: 50%;
    line-height: 1.8;
}

.copyright-para a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.copyright-para a:hover {
    color: var(--cle-fd7792);
}

.copyright-icon {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.copyright-icon a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-right: 2rem;
}

.copyright-icon a:nth-last-child(1) {
    margin-right: 0;
}

/* footer section end */

/* media query */

@media only screen and (max-width: 992px) {

    .header-buttons-active .header-buttons ul li a::after, .header-buttons ul li .active::after,.header-buttons ul li a::after {
        background-color: currentColor;
        height: 2px;
    }

    .hamburger-active .hamburger {
        transform: rotate(45deg);
    }

    .hamburger-active .hamburger::after {
        transform: scale(0);
    }

    .hamburger-active .hamburger::before {
        transform: rotate(-90deg);
    }

    .header-buttons {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cle-fd7792);
        width: 100%;
        height: 100vh;
        z-index: 9999;
        transform: translateX(100%);
        transition: all 0.5s ease;
    }

    .header-buttons ul {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
    }

    .header-buttons ul li a {
        font-size: 2rem;
        padding: 0;
        padding-bottom: 0.8rem;
    }

    .header-buttons-active {
        transform: translate(0);
    }

    .hamburger-wrapper {
        display: block;
    }

    .hero {
        background: url(../images/hero-bg.webp) no-repeat;
        background-size: cover;
        background-position: center 0;
        position: relative;
    }

    .left-hero h1 {
        font-size: 4rem;
        padding-right: 25rem;
    }
    .right-hero {
        max-width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
    }
    .about {
        padding: 0;
        margin-top: 55rem;
    }
    .apartment {
        margin-top: 112rem;
    }
    .first-row,
    .second-row {
        flex-direction: column;
    }
    .room-card {
        width: 100%;
    }
    .feedback-wrapper {
        flex-direction: column;
        row-gap: 5rem;
        justify-content: center;
        align-items: center;
    }
    .feedback-card {
        width: 70%;
    }
    .offers-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .offer-card {
        width: 100%;
        padding-top: 1rem;
    }
    .offer-card .offer-card-img,
    .offer-card .offer-card-img i {
        height: 6rem;
        width: 6rem;
    }
    .offer-card .offer-card-img i{
        font-size: 2rem;
    }
    .footer-wrapper {
        flex-wrap: wrap;
    }
    .padding-footer {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .left-hero h1 {
        padding-right: 15rem;
    }
    .about-wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 5rem;
    }
    .about-card {
        width: 100%;
    }
    .about-img, img {
        height: 20rem;
        object-fit: cover;
    }
    .apartment {
        margin-top: 207rem;
    }
    .offer-wrapper {
        flex-direction: column;
    }
    .right-offer h2, .right-p, .offers-wrapper, .offer-card {
        padding-left: 0;
    }
    .offer-card {
        padding-top: 2rem;
    }
    .blog-card-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5rem;
    }
    .blog-card {
        width: 100%;
    }
    .blog-card .blog-card-img img {
        height: 30rem;
    }
    .footer-wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 3rem;
    }
    .padding-footer {
        width: 100%;
    }
    .copyright-wrapper {
        flex-direction: column;
        row-gap: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .copyright-para {
        width: 100%;
    }
    .copyright-icon {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start ;
    }
}
    @media  only screen and (max-width: 576px) {
        .left-hero h1 {
            padding-right: 0;
        }
        .left-nav {
            flex-direction: column;
        }
        .first-row,
        .second-row {
            row-gap: 2rem;
        }
        .room-card,
        .second-row .room-card {
            flex-direction: column;
        }
        .room-card .room-img,
        .room-card .room-content {
            width: 100%;
        }
        .second-row {
            margin-top: 2rem;
        }
        .room-content::after,
        .second-row .room-content::after {
            transform: rotate(0) translate(-50%, -39%);
            top: 0;
            left: 50%;
            right: auto;
        }
        .feedback-card {
            width: 100%;
        }
        .mid-sec {
            background: url(../images/mid-section.webp);
            background-position: center 0;
            background-size: cover;
        }
}

/* media query end */
